## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
row_num = len(app_train.index)
col_num = len(app_train.columns)
print('Number of rows: %s' % (row_num))
print('Number of columns: %s' % (col_num))

Number of rows: 307511
Number of columns: 122

#### 列出所有欄位

In [5]:
cols = app_train.columns.tolist() 
print('Columns: %s' % ', '.join(cols))

Columns: SK_ID_CURR, TARGET, NAME_CONTRACT_TYPE, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, ORGANIZATION_TYPE, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, FONDKAPREMONT_MODE, HOUSETYPE_MODE, TOTALAREA_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, FLAG_DOCUMENT_6, FLAG_DOCUMENT_7, FLAG_DOCUMENT_8, FLAG_DOCUMENT_9, FLAG_DOCUMENT_10, FLAG_DOCUMENT_11, FLAG_DOCUMENT_12, FLAG_DOCUMENT_13, FLAG_DOCUMENT_14, FLAG_DOCUMENT_15, FLAG_DOCUMENT_16, FLAG_DOCUMENT_17, FLAG_DOCUMENT_18, FLAG_DOCUMENT_19, FLAG_DOCUMENT_20, FLAG_DOCUMENT_21, AMT_REQ_CREDIT_BUREAU_HOUR, AMT_REQ_CREDIT_BUREAU_DAY, AMT_REQ_CREDIT_BUREAU_WEEK, AMT_REQ_CREDIT_BUREAU_MON, AMT_REQ_CREDIT_BUREAU_QRT, AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

Get top 100 rows and first 40 columns:

In [6]:
app_train.iloc[0:100,0:41]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,1,MONDAY,11,0,0,0,0,0,0,School
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,2,MONDAY,9,0,0,0,0,0,0,Government
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,2,THURSDAY,11,0,0,0,0,1,1,Religion
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,2,WEDNESDAY,16,0,0,0,0,0,0,Other
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,2,SUNDAY,16,0,0,0,0,0,0,Business Entity Type 3
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,3,MONDAY,16,0,0,0,0,1,1,Other
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,2,WEDNESDAY,14,0,0,0,0,0,0,XNA
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,2,THURSDAY,8,0,0,0,0,0,0,Electricity
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,2,SATURDAY,15,0,0,0,0,0,0,Medicine
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,2,FRIDAY,7,0,0,0,0,0,0,XNA
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 2
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,2,THURSDAY,13,0,0,0,0,0,0,Self-employed
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,1,MONDAY,9,0,0,0,0,0,0,Transport: type 2
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,3,SATURDAY,6,0,0,0,1,1,0,Business Entity Type 2
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,2,THURSDAY,12,0,0,0,1,1,0,Government
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,2,MONDAY,10,0,0,0,1,1,0,Construction
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,1,FRIDAY,13,0,0,0,0,0,0,Housing
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,2,MONDAY,12,0,0,0,0,0,0,Kindergarten
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,2,FRIDAY,13,0,0,0,0,0,0,Self-employed
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,2,MONDAY,9,0,0,0,0,0,0,Trade: type 7
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,2,THURSDAY,6,0,0,0,0,0,0,Self-employed
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,3,FRIDAY,12,0,0,0,0,0,0,XNA
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,2,THURSDAY,14,0,0,0,0,1,1,Business Entity Type 3
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,2,SATURDAY,8,0,0,0,0,0,0,Business Entity Type 3
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,2,MONDAY,9,0,0,0,0,0,0,Business Entity Type 3
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,2,SATURDAY,10,0,0,0,0,1,1,Industry: type 11
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,1,WEDNESDAY,11,0,1,1,0,0,0,Military
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,2,TUESDAY,16,0,0,0,0,0,0,Business Entity Type 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,100082,0,Cash loans,M,N,N,2,180000.000,450000.0,21109.5,...,2,MONDAY,12,0,0,0,0,0,0,Business Entity Type 3
71,100083,0,Cash loans,M,Y,Y,0,103500.000,573628.5,24435.0,...,2,MONDAY,18,0,0,0,0,0,0,Business Entity Type 3
72,100084,0,Cash loans,M,N,Y,2,225000.000,495351.0,26140.5,...,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 3
73,100085,0,Cash loans,M,N,Y,1,157500.000,755190.0,28894.5,...,2,WEDNESDAY,12,0,0,0,0,0,0,Business Entity Type 1
74,100086,0,Cash loans,F,N,Y,1,135000.000,675000.0,21775.5,...,2,THURSDAY,12,0,0,0,0,0,0,Self-employed
75,100087,0,Cash loans,F,N,Y,1,202500.000,1288350.0,37800.0,...,3,FRIDAY,11,0,0,0,0,0,0,Self-employed
76,100088,0,Revolving loans,F,N,N,0,112500.000,135000.0,6750.0,...,2,THURSDAY,15,0,0,0,0,0,0,School
77,100089,0,Cash loans,M,N,Y,0,135000.000,337761.0,15781.5,...,2,TUESDAY,12,0,0,0,0,0,0,Self-employed
78,100093,0,Cash loans,F,N,Y,1,94500.000,585000.0,28273.5,...,2,TUESDAY,16,0,0,0,0,0,0,Postal
79,100094,0,Cash loans,F,N,Y,0,108000.000,113760.0,5301.0,...,2,THURSDAY,10,0,0,0,0,0,0,XNA
80,100095,0,Revolving loans,F,N,Y,2,67500.000,135000.0,6750.0,...,3,THURSDAY,8,0,0,0,0,0,0,Trade: type 7
81,100096,1,Cash loans,F,N,Y,0,81000.000,252000.0,14593.5,...,2,THURSDAY,10,0,0,0,0,0,0,XNA
82,100097,0,Cash loans,M,Y,Y,0,157500.000,760225.5,30280.5,...,2,THURSDAY,10,0,0,0,0,1,1,Business Entity Type 3
83,100098,0,Revolving loans,M,Y,N,0,225000.000,270000.0,13500.0,...,2,WEDNESDAY,9,0,0,0,0,0,0,Transport: type 3
84,100099,0,Cash loans,F,N,Y,0,360000.000,733315.5,41076.0,...,2,THURSDAY,12,1,0,0,0,0,0,XNA
85,100100,0,Cash loans,M,Y,Y,2,202500.000,796396.5,38443.5,...,2,FRIDAY,17,0,0,0,0,1,1,Industry: type 11
86,100101,0,Cash loans,F,Y,Y,0,202500.000,343377.0,22072.5,...,1,WEDNESDAY,13,0,0,0,0,0,0,Business Entity Type 1
87,100102,0,Cash loans,F,N,N,1,126000.000,327024.0,10264.5,...,2,SUNDAY,13,0,0,0,0,0,0,Transport: type 4
88,100103,0,Cash loans,F,N,Y,0,72000.000,450000.0,16965.0,...,2,FRIDAY,12,0,0,0,0,0,0,School
89,100104,0,Cash loans,F,N,Y,0,90000.000,547344.0,30690.0,...,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3
90,100105,0,Cash loans,F,N,Y,0,193500.000,225000.0,23755.5,...,2,TUESDAY,11,0,0,0,0,0,0,Government
91,100108,0,Cash loans,F,N,Y,3,171000.000,545040.0,31288.5,...,2,WEDNESDAY,11,0,0,0,0,1,1,Business Entity Type 3
92,100110,0,Cash loans,M,Y,Y,3,135000.000,373140.0,25065.0,...,2,WEDNESDAY,9,0,0,0,0,1,1,Housing
93,100111,0,Cash loans,F,Y,N,1,112500.000,862560.0,27954.0,...,2,MONDAY,11,0,0,0,0,0,0,Business Entity Type 3
94,100112,1,Cash loans,M,Y,Y,0,315000.000,953460.0,64107.0,...,2,SUNDAY,13,0,0,0,0,1,1,Industry: type 4
95,100113,0,Cash loans,M,Y,N,0,76500.000,135000.0,6696.0,...,2,MONDAY,10,0,0,0,0,0,0,Agriculture
96,100114,0,Cash loans,F,N,Y,0,135000.000,284400.0,22599.0,...,2,MONDAY,14,0,0,0,1,1,0,Restaurant
97,100115,0,Cash loans,F,N,N,0,90000.000,315000.0,14683.5,...,2,SUNDAY,11,0,0,0,0,1,1,Business Entity Type 3
98,100116,0,Cash loans,F,N,Y,0,243000.000,900000.0,32017.5,...,1,THURSDAY,11,0,0,0,0,1,1,Kindergarten
99,100118,0,Cash loans,F,N,Y,0,90000.000,675000.0,26541.0,...,2,TUESDAY,15,0,0,0,0,0,0,XNA

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子